* {
    font-family: "Trebuchet MS", Tahoma, sans-serif;
}
/*
.button-container {
    position: absolute;
    top: 18rem;
    right: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    margin-left: 20px;
}
*/

.button-containter{
    display: inline-block;
    margin: 0 auto;
    justify-content: center;
}

.bg-custom{
    background-color: rgba(2, 163, 75, 0.5) 
}

h1{
    text-align: center;
    color: #009879;
}

.page-link {
    color: #009879; 
}

.page-link:hover {
    color: #009879; 
}

.stable th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.stable th,
.stable td {
    padding: 12px 15px;
}

.stable tr {
    border-bottom: 1px solid #dddddd;
}

.stable tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.stable tr:last-of-type {
    border-bottom: 2px solid #009879;
}

div#add{
    position: relative;
    left: 85%;
}


.button-36:hover {
  box-shadow: #009879 0 1px 30px;
  transition-duration: .1s;
}
