input:placeholder-shown {
    background-color: #f2f2f2;
  }
  
  
  .colored-input:placeholder-shown {
    background-color: #c3adad;
  }
  
  input {
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
  
  }
  
  button {
    border: 1px solid #5955a6;
    background-color: #5955a6;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
  }
  
  h1 {
    color: #5955a6;
    text-align: center;
    font-size: 30px;
  }

  h2 {
    color: #727ea1;
    text-align: left;
    font-size: 20px;
    font-style: italic;
  }